.wrap {
	background-image: url('https://wallpapercave.com/wp/wp6175158.jpg');
	height: 100vh;
}
.top {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.4);

	.logo {
		color: white;
		background-color: #26415c;
		font-size: 24px;
		font-weight: bold;
		padding: 8px 16px;
		margin-left: 20px;
		border: none;
		border-radius: 10px;
	}

	.escape {
		font-size: 16px;
		font-weight: bold;
		padding: 5px 10px;
		margin-right: 20px;
		border: none;
		border-radius: 6px;
		cursor: pointer;
	}
}
.start {
	display: flex;
	flex-direction: column;

	.information {
		margin: 40px auto;
		padding: 20px;
		background-image: linear-gradient(180deg, #414141, #040404);
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		font-size: 18px;
		border-radius: 16px;

		p {
			margin: 10px 0;
			font-size: 16px;
		}

		input {
			font-size: 24px;
			font-weight: bold;
			width: 80%;
			padding: 10px 20px;
			margin-bottom: 20px;
			outline: none;
			border: none;
			border-radius: 10px;
		}
	}

	.start_btn {
		margin: 0 auto;
		width: 200px;
		font-size: 24px;
		font-weight: bold;
		padding: 16px 24px;
		color: white;
		background-color: #8854c0;
		border: none;
		border-radius: 10px;
		box-shadow: 0 5px #6c4298;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background-color: #703ba9;
			box-shadow: none;
		}
	}
}
