.wrap {
	height: 100vh;
	background-color: #000;
}
@keyframes decrease {
	0% {
		width: 100%;
		background-color: #85e650;
	}
	100% {
		width: 0%;
		background-color: #d4546a;
	}
}
.time {
	height: 4px;
	background-color: #85e650;
	border-radius: 2px;
	animation: decrease 15s linear;
}

.top {
	height: 10vh;
	color: white;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_left {
	display: flex;
	align-items: center;
	margin-left: 20px;
}
.music {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	margin: 0 10px;
	cursor: pointer;

	&:hover {
		background-color: #545454;
	}
}
.streak {
	display: flex;
	width: 200px;
	justify-content: space-between;
	font-size: 16px;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 10px;
	margin: 0 10px;
	position: relative;

	.color_streak {
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-image: linear-gradient(to left, #4aaafd, #8bc9ff);
		border-radius: 10px;
	}

	p {
		z-index: 3;
	}

	i {
		font-size: 14px;
		z-index: 3;

		span {
			padding: 0 4px;
		}
	}
}
.stt {
	font-size: 18px;
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	margin: 0 10px;
}
.name_point {
	font-size: 30px;
	color: rgb(249, 255, 80);
	background-color: #1d1c20;
	padding: 10px 20px;
	border-radius: 10px;
}
.escape {
	margin-right: 20px;
	font-size: 16px;
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background-color: #545454;
	}
}

.content {
	height: 76vh;
	color: white;
	background-color: #461a42;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p {
		height: 10%;
		font-size: 50px;
		margin: 5% 0;
	}
}
.answer {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;

	div {
		width: 22%;
		height: 80%;
		font-size: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		cursor: pointer;
	}

	.answer_0 {
		background-color: #2f6dae;
		transition: background-color 0.6s;

		&:hover {
			background-color: #5481b0;
		}
	}
	.answer_1 {
		background-color: #2c9ca6;
		transition: background-color 0.6s;

		&:hover {
			background-color: #7cb0b5;
		}
	}
	.answer_2 {
		background-color: #eca82c;
		transition: background-color 0.6s;

		&:hover {
			background-color: #eec476;
		}
	}
	.answer_3 {
		background-color: #d4546a;
		transition: background-color 0.6s;

		&:hover {
			background-color: #da919d;
		}
	}
}

.result {
	visibility: hidden;
	height: 10vh;
	background-color: #85e650;
	display: flex;
	align-items: center;
	justify-content: center;
}
.true {
	display: none;
	width: 150px;
	height: 80%;
	font-size: 20px;
	color: #85e650;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	position: relative;

	i {
		position: absolute;
		right: 5px;
		top: 0;
	}
}
.false {
	display: none;
	width: 150px;
	height: 80%;
	font-size: 20px;
	color: #d4546a;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	position: relative;

	i {
		position: absolute;
		right: 5px;
		top: 0;
	}
}
.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	p {
		width: 100px;
	}
}
